body {
    background-color: #333;
    color: white;
}

aside, header, section#contenedor, section#novhtml5, section#novcss, footer {
    border-radius: .5em;
    background-color: #666;
    margin: .3em auto;
    padding: .3em;
    text-align: center;
    width: 95%;
}

section#novhtml5, section#novcss, section#resumen {
    display: inline-block;
    background-color: #999;
    min-height: 200px;
    font-family: "Segoe UI";
    color: black;
    vertical-align: top;
    width: 45%;
}

section#formulario {
    margin: 50px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

table {
    background-color: Linen;
    text-align: left;
    border-collapse: collapse;
    margin: .3em auto;
    width: 80%;
}

th, td {
    padding: .5em;
}

thead {
    background-color: #41a38e;
    border-bottom: solid 7px rgb(103, 197, 175);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(199, 230, 243);
}

tr:hover td {
    background-color: rgb(247, 232, 205);
    color: black;
}

header {
    font-size: 2em;
}

footer {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}